/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(160, 157, 157);
}

/* header */
.header-container{
    background-color: white;
    height: 70px;
    line-height: 70px;
}

h1{
    display: inline;
    font-weight: 800;
}

.logo{
    vertical-align: middle;
}

/* pulsanti e lista */

.main{
    background-color: white;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 10px;
}

.upper{
    height: 40px;
}

.lower{
    height: 450px;
}

.button{

}


